name: Build and Execution Test

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    - cron:  '0 6 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true  # Cancel previous runs on new push

jobs:
  install_build_execute:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        compiler: [
          {name: AC6,  ext: axf},
          {name: GCC,  ext: elf}
        ]
        target: [
          {type: CM0,       model: FVP_MPS2_Cortex-M0,      uart: fvp_mps2.UART0},
          {type: CS320,     model: FVP_Corstone_SSE-320,    uart: mps4_board.uart0}
        ]
        build: [ 
          {type: Release},
          {type: Debug}
        ]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install tools
        uses: ARM-software/cmsis-actions/vcpkg@v1

      - name: Activate Arm tool license
        uses: ARM-software/cmsis-actions/armlm@v1

      - name: Cache packs
        uses: actions/cache@v5
        with:
          key: cmsis-packs-${{ hashFiles('*.csolution.yml', '*.cproject.yml') }}
          restore-keys: |
            cmsis-packs-
          path: /home/runner/.cache/arm/packs

      - name: Build context Hello.${{ matrix.build.type }}+${{ matrix.target.type }} with ${{ matrix.compiler.name }}
        working-directory: ./
        run: |
            cbuild Hello.csolution.yml --packs \
                --context Hello.${{ matrix.build.type }}+${{ matrix.target.type }} \
                --toolchain ${{ matrix.compiler.name }} --rebuild

      - name: Execute context Hello.${{ matrix.build.type }}+${{ matrix.target.type }} with ${{ matrix.compiler.name }}
        working-directory: ./
        run: |
            ${{ matrix.target.model }} \
               -a ./out/Hello/${{ matrix.target.type }}/${{ matrix.build.type }}/${{ matrix.compiler.name }}/Hello.${{ matrix.compiler.ext }} \
               -f ./FVP/${{ matrix.target.model }}/fvp_config.txt \
               -C ${{ matrix.target.uart }}.out_file=./out/Hello/${{ matrix.target.type }}/${{ matrix.build.type }}/${{ matrix.compiler.name }}/fvp_stdout.log \
               --simlimit 60 --stat 2>&1 | tee ./out/Hello/${{ matrix.target.type }}/${{ matrix.build.type }}/${{ matrix.compiler.name }}/fvp_execution.log

            echo "Show Content of the directory"
            ls -R ./out/Hello/${{ matrix.target.type }}/${{ matrix.build.type }}/${{ matrix.compiler.name }}/

            echo " Show simulation UART output"
            cat  ./out/Hello/${{ matrix.target.type }}/${{ matrix.build.type }}/${{ matrix.compiler.name }}/fvp_stdout.log

      - name: Verify context Hello.${{ matrix.build.type }}+${{ matrix.target.type }} with ${{ matrix.compiler.name }}
        working-directory: ./
        run: |
            echo " Show simulation UART output"
            cat  ./out/Hello/${{ matrix.target.type }}/${{ matrix.build.type }}/${{ matrix.compiler.name }}/fvp_stdout.log

            echo "Checking simulation UART output"
            if [ "$(grep -c "Hello World 100" ./out/Hello/${{ matrix.target.type }}/${{ matrix.build.type }}/${{ matrix.compiler.name }}/fvp_stdout.log)" -eq 1 ]
            then
                 exit 0
            else
                 exit 1
            fi
